html, body {
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
}

table{
    width:70%; 
    margin-left:30%; 
    margin-right:30%;
}

.panel-faq-container{
    margin-bottom: -16px;
}

.panel-faq-title{
    cursor: pointer;
}

.panel-faq-answer{
    /* padding: 15px;
    display: none; */
    /* border: 10px solid red; */
    height: 0px;
    overflow: hidden;
    transition: all 0.35s;
}


.active{
    display: block;
    height: auto;
}

