html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

.panel-faq-container{
    border: 0px solid red;
    margin-bottom: -16px;
}

.panel-faq-title{
    cursor: pointer;
}

.panel-faq-answer{
    /* padding: 15px;
    display: none; */
    /* border: 10px solid red; */
    height: 0px;
    overflow: hidden;
    transition: all 0.35s;
}


.active{
    display: block;
    height: 300px;
}


